In [2]:
import ROOT as r 
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.optimize import curve_fit

Welcome to JupyROOT 6.24/02

In [3]:
directory= "/Users/adit/Google Drive/Internship_ Research/Muon g-2/Data Filed/combined_forAdit_timealigned.root"
f = r.TFile(directory)

In [4]:
f.cd('LaserEvents')
t = f.Get('LaserEvents/tree')
df = pd.DataFrame(r.RDataFrame(t).AsNumpy())
c= r.TCanvas()

In [5]:
df_filtered = df.loc[(df['sipmTime']-df['slmTime']) < 50]

In [6]:
run = 25026
subRun = 2
fill = 178
calo = 20
xtal =14

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [47]:
df_xtal = df_filtered[(df_filtered['caloNum']==calo) & (df_filtered['xtalNum']==xtal)]
syncPulse = df_xtal.groupby(['runNum','subRunNum','fillNum'])

In [24]:
fills = pd.unique(syncPulse.count().reset_index()['fillNum'])
fills.sort()
fills

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234,
       235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247,
       248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260,
       261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273,
       274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286,
       287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299,
       300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 313,
       314, 315, 316, 317, 318, 319, 320, 321, 322, 324, 326, 328, 340,
       342, 344, 346, 348, 369, 371, 373, 375, 377])

In [43]:
sync = syncPulse.max().reset_index()
sync[(sync['runNum']==25016) & (sync['subRunNum']==13)][['fillNum','slmTime', 'sipmTime']]

Empty DataFrame
Columns: [fillNum, slmTime, sipmTime]
Index: []

In [46]:
syncPulse

array([24685, 24732, 24747, 24760, 24783, 24796, 24818, 24873, 24881,
       24903, 24928, 24939, 24948, 24963, 24976, 25026, 25027, 25032])

In [58]:
allCalo = df_filtered[(df_filtered['runNum']==25032) & (df_filtered['subRunNum']==173) & df_filtered['fillNum']==4]
allCalo

Empty DataFrame
Columns: [gpsTimeStamp, cccTimeStamp, runNum, subRunNum, fillNum, bunchNum, fillType, caloNum, xtalNum, sipmTime, sipmEnergy, sipmPedestal, sipmChi2, smPin1Amp, smPin1Time, smPin2Amp, smPin2Time, smPmtAmp, smPmtTime, lmPmtAmp1, lmPmtAmp2, lmPmtArea1, lmPmtArea2, lmPmtTime1, lmPmtTime2, slmTime, slmEnergy, slmPedestal, slmChi2]
Index: []

[0 rows x 29 columns]

Empty DataFrame
Columns: [gpsTimeStamp, cccTimeStamp, runNum, subRunNum, fillNum, bunchNum, fillType, caloNum, xtalNum, sipmTime, sipmEnergy, sipmPedestal, sipmChi2, smPin1Amp, smPin1Time, smPin2Amp, smPin2Time, smPmtAmp, smPmtTime, lmPmtAmp1, lmPmtAmp2, lmPmtArea1, lmPmtArea2, lmPmtTime1, lmPmtTime2, slmTime, slmEnergy, slmPedestal, slmChi2]
Index: []

[0 rows x 29 columns]